.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
div {
    display: block;
}
ol, ul{
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    float: left;
}
html #header {
    background-color: #292a2d;
}
body {
    background-color:#1e1f21;
    color:#d9d9d9;
    margin:0;
}
#wrap {
    overflow: hidden;
    min-width: 1190px;
}
#header {
    position: relative;
    height: 213px;
    z-index: 2000;
}
#special_bg{
    position: relative;
    height: 160px;
    border-bottom: 1px solid #e4e8eb;
}
#header .group_flex{
    position:relative;
    width: 1130px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
#header .logo_area{
    position: relative;
    height: 100%;
}
#header .service_area {
    position: absolute;
    width: 269.88px;
    height:23px;
    top: 12px;
    right: 27px;
}
#header .logo_default{
    width: 222px;
    height: 52px;
    background-image: url(./sp_search.png);
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -32px;
    background-repeat: no-repeat;
}
h1 {
    display: block;
    margin-block-start: 0.67cm;
    margin-block-end: 0.67cm;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h1 {
    font-size: inherit;
    line-height: inherit;
}
#header .logo_default{
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -32px;
}
#header .search_area {
    position: absolute;
    top: 50%;
    left: 228px;
    margin-top: -28px;
}
#header fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
#header fieldset input{
    border: none;
}
#header .search_area .green_widow{
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    border-radius: 2px;
}
#header .search_area .input_text{
    width: 444px;
    height: 50px;
    padding: 13px 15px;
    margin: 1px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    outline: 0;
}
#header .search_area .input_text{
    background-color: #292a2d;
    color: #fff;
}
#header .search_area .btn_submit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 56px;
    background-color: #19ce60;
    /*border-radius: 0 2px 2px 0;*/
    cursor: pointer;
    padding: 0;
    border: 0;
}
#header .search_area .ico_search_submit {
    background-image: url(./sp_search.png);
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -4px -60px;
    background-repeat: no-repeat;
    vertical-align: top;
}
#gnb {
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
}
#gnb .gnb_inner{
    position: relative;
    width: 1130px;
    height:52px;
    padding: 0 30px;
    margin: 0 auto;
}
#gnb .group_nav{
    position: relative;
    width:1130px;
    height:52px;
    box-sizing:border-box;
    padding: 11px 270px 11px 0;
}
#gnb .list_nav {
    float: left;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: -.3px;
}
#gnb .list_nav .nav_item {
    float: left;
}
#gnb .list_nav .nav_item+.nav_item {
    margin-left: 12px;
}
a {
    color: inherit;
    text-decoration: none;
}
#gnb .list_nav .nav{
    display: block;
    text-decoration: none;
}
#gnb .list_nav.type_fix .nav{
    color: #03c75a;
}
#gnb .list_nav.NM_FAVORITE_LIST {
    margin-left: 12px;
}